In [1]:
t2=[45,22,34,56,22]
print(t2.count(45))

1

In [2]:
g=('python',9.0,34,'work')
print(list(g))

['python', 9.0, 34, 'work']

In [3]:
d={}
print(d)

{}

In [9]:
d={3:89,4:"python",88:4.7,"workshop":89}
print(d)

{3: 89, 4: 'python', 88: 4.7, 'workshop': 89}

In [13]:
d[88]

4.7

In [14]:
d2={5:34,6:78,8:77,5:78}
print(d2)

{5: 78, 6: 78, 8: 77}

In [17]:
y={5:78,6:78,8:77,4:{6,56,78}}
print(y)

{5: 78, 6: 78, 8: 77, 4: {56, 78, 6}}

In [48]:
y[5]

78

In [21]:
a={5:34,6:78,8:77,5:78}
print(a)
print(min(a))
print(max(a))
print(sum(a))
print(sorted(a))
print(len(a))

{5: 78, 6: 78, 8: 77}
5
8
19
[5, 6, 8]
3

In [23]:
j={22:78,16:78,8:77,4:{6,56,78}}
print(j)
print(max(j))
print(min(j))
print(sorted(j))
print(sum(j))
print(len(j))

{22: 78, 16: 78, 8: 77, 4: {56, 78, 6}}
22
4
[4, 8, 16, 22]
50
4

In [26]:
a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
    print("a is big")
elif(b>a and b>c):
    print("b is big")
else:
    print("c is big")

70
107
88
b is big

In [27]:
month=input()
if month in ("january","march","may","july","august","october"):
    print("31 days")
elif month in ("apirl","june","september","november"):
    print("30 days")
elif month in ("febuary"):
    print("28 days")
else:
    print("wrong value")

588
wrong value

In [28]:
h={5:78,6:78,8:77,'age':40}
print(h.pop(6))
print(h)

78
{5: 78, 8: 77, 'age': 40}

In [33]:
g={}
print(g.fromkeys("python",67))

{'p': 67, 'y': 67, 't': 67, 'h': 67, 'o': 67, 'n': 67}

In [34]:
print(g.fromkeys("123",78))
print(g)

{'1': 78, '2': 78, '3': 78}
{}

In [35]:
g[1]=67
g[2]=68
g[3]=55
print(g)

{1: 67, 2: 68, 3: 55}

In [36]:
g[1]=99
print(g)

{1: 99, 2: 68, 3: 55}

In [40]:
n=int(input())
r={}
for i in range(1,n+1):
    r[i]=i**2
print(r)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
n=int(input())
g={}
s=0
for i in range(1,n+1):
    g[i]=i**2
print(g)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [45]:
g={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
s=0
for i in g:
    s=s+i
print(s)

36

In [55]:
n={'a':8,'b':5,'c':4,'d':67,'e':88,'f':45,'g':17}
count_even=0
count_odd=0
for i in n.values():
    if(i%2==0):
        count_even+=1
    else:
            count_odd+=1
print(count_even)
print(count_odd)

3
4

In [3]:
g={}
for i in input():
    if i not in g:
        g[i]=1
    else:
        g[i]+=1
print(g)

tejanu
{'t': 1, 'e': 1, 'j': 1, 'a': 1, 'n': 1, 'u': 1}

In [4]:
s=()
type(s)

tuple

In [5]:
s={}
type(s)

dict

In [6]:
s={3,4,5,1,2,4,56,2,3,45,6}
s

{1, 2, 3, 4, 5, 6, 45, 56}

In [7]:
s={3,4,5,1,2,4,56,2,3,45,6}
print(s)
print(max(s))
print(min(s))
print(sum(s))
print(sorted(s))
print(len(s))

{1, 2, 3, 4, 5, 6, 45, 56}
56
1
122
[1, 2, 3, 4, 5, 6, 45, 56]
8

In [9]:
s1={34,23,5,11,23}
s2={56,12,11,23,99}
s1.union(s2)
s2.union(s1)

{5, 11, 12, 23, 34, 56, 99}

In [10]:
s1={34,23,5,11,23}
s1.add(67)
print(s1)

{34, 67, 5, 11, 23}

In [13]:
s1={34,23,5,11,23,77}
s2={56,12,11,23,99,94}
print(s1.union(s2))
print(s2.union(s1))
print(s1.intersection(s2))
print(s2.intersection(s1))

{34, 99, 5, 11, 12, 77, 23, 56, 94}
{34, 99, 5, 11, 12, 77, 23, 56, 94}
{11, 23}
{11, 23}

In [14]:
s2={34,67,5,11,23}
s2.discard(5)
print(s2)

{34, 67, 11, 23}

In [15]:
s1={34,23,5,11,23}
s1.add(67)
print(s1)

{34, 67, 5, 11, 23}

In [16]:
print("menu")
print("\n1 noddles.80","\n2 chicken.280","\n3 puri.120","\n4 manchuriya.90","\n5 chapathi.50"):

SyntaxError: invalid syntax (<ipython-input-16-0a7a62b02dce>, line 2)